// Burger Catalog
.secondRowCatalog {
  display: flex;
  background-color: #f1f1f1;
  border-radius: 28px;
}


.secondRowCtlBtn {
  display: flex;
  align-items: center;
  padding: 7px 20px;
  outline: none;
  border: none;
  border-radius: 28px;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.secondRowCtlBtn:hover {
  color: white;
}

.iconRooms {
  margin-right: 12px;
}

.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 22px;
  padding: 4px 0;
  margin-right: 12px;
}

.line {
  background: #000;
  border-radius: 4px;
  width: 18px;
  height: 2px;
  margin: 0 1px;
}

// .burger .active::before{
//   top: 50%;
//   transform: rotate(-45deg) translate(0, -50%);
// }

// .burger .active::after{
//   bottom: 50%;
//   transform: rotate(45deg) translate(0, 50%);
// } 


.catalog {
  position: fixed;
  left: 203px;
  top: 170px;
  background-color: white;

}

// .opened {
//   display: block;
//   transition: trasform 0.8s linear;
//   left: 202px;
// } 

.active {
  background-color: #da0916;
  color: #fff;
}

@media (max-width: 1024px) {
  .none {
    display: none;
  }
  .burger {
    margin: 0;
  }
  .secondRowCatalog {
    order: 2;
    margin-top: 20px;
  }
}