.flex {
  display: flex;
  align-items: center;
  height: 100%;
}

.flexNav {
  display: flex;
  // justify-content: space-between;
  // align-items: center;
  height: 100%;
}

.navList {
  margin-left: auto;
}

.navLink {
  margin-right: 48px;
  font-weight: 500;

  .navText {
    font-size: 12px;
    line-height: 20px;
    color: #797979;
  }

  .navText:hover {
    color: #000;
  }

  .navLinkSpan {
    margin-left: 10px;
    color: #da0916;
  }
}

.navPhone {
  color: #2e7bb2;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  transition: 0.2s;
}

.navPhone:hover {
  color: #da0916;
}