.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logoLink {
  margin-right: 32px;
}


.catalogNavItem {
  margin-top: 10px;
}

.secondRowNav {
  margin-left: 16px;
  margin-right: 52px;
}

.secondRowNavItm {
  padding: 9px 15px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  transition: 0.2s;
  color: #000;
}

.secondRowNavItm:hover {
  color: #da0916;
}

.searchContainer {
  width: 100%;
  position: relative;
  vertical-align: middle;
  padding-right: 68px; 
} 

.search {
  width: 100%;
  height: 40px;
  overflow: hidden;
  border: 1px solid #797979;
  background-color: white;
  border-radius: 100px;
  padding: 0 14px 0 20px;
  transition: 0.2s;
}

.search:hover {
  background-color: #fafafc;
}

.searchBtn {
  position: absolute;
  bottom: 5px;
  right: 80px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.flexBtn {
  display: flex;
}

.icon {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  position: relative;
}

.iconFavorite {
  width: 26px;
  height: 24px;
}

.iconAccount {
  width: 30px;
  height: 30px;
}


.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}


    /* тут хз пока что */
.icon:hover * {
  stroke: #c0c0c0;
} 

.btn:not(:last-child) {
  margin-right: 40px;
}


.text {
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  transition: 0.2s;
  color: #000;
}

.text:hover {
  color: #c0c0c0;
}


.iconCount {
  position: absolute;
  right: -3px;
  top: 0;
  padding: 1px 6px;
  border-radius: 9px;
  color: #fff;
  background-color: #da0916;
  font-size: 10px;
}

.iconEmpty {
  background-color: #c0c0c0;
}




@media (max-width:1440px) {
  .flex {
  flex-wrap: wrap;
  margin-top: 20px;
  }

  .searchContainer {
    order: 1;
    padding: 0;
    margin-top: 20px; 
  }

  .searchBtn {
    right: 10px;
  }
  .none {
    display: none;
  }
}


@media (max-width: 1024px) {
  .imgLogo {
    max-height: 32px;
  }
  .search {
    background-color: #f9f9f9;
    border: solid 0.5px #e9e9e9;
  }
  .searchContainer {
    width: 90%;
  }
  .text {
    display: none;
  }
  .secondRowNavItm {
    margin-right: 12px;
    border: 1px solid #e9e9e9;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 500;
  }
  .secondRowNav {
    order: 2;
    margin-top: 20px;
    margin-left: 0;
  }
  .none {
    display: inline-block;
  }
  .icon {
    width: 22px;
    height: 20px;
  }
  .iconCount {
    right: -9px;
    top: -4px;
  }
  .btn:not(:last-child) {
    margin-right: 24px;
  }
}