.container {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 230px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border: 1px solid #e6e7e8;
  border-radius: 8px 8px 0 0;  
  background-color: #fff;
}

.container:hover {
  border: 1px solid #bed3db;
}

.imgLink {
  margin-left: -20px;
}

.price {
  margin-top: 16px;
  margin-bottom: 10px;
  line-height: 32px;
  font-size: 22px;
  font-weight: 600;
  white-space: nowrap;
  color: #000;
}

.name {
  font-size: 16px;
  line-height: 24px;
  min-height: 36px;
  font-weight: 400;
}

.name:hover {
  color: #e60000;
}

.reviews {
  margin-bottom: 15px;
}

.reviewsBlock {
  display: flex;
  align-items: center;
}

.reviewsStars {
  position: relative;
  padding-left: 23px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.reviewsStars::before {
  position: absolute;
  content: '';
  width: 14px;
  height: 14px;
  left: 0;
  background-image: url("../../public/Star.png");
  background-size: contain;
}

.reviewsDec {
  height: 10px;
  border: 1px solid #797979;
  margin: 0 10px;
}

.itemRev {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border-bottom: 1px solid #797979;
  color: #797979;
}

.action {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: auto;
}

.actionText {
  margin-bottom: 8px;
  color: #797979;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  text-decoration: underline;
}

.cardBtn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #DA0916;
  color: #fff;
  cursor: pointer;
}

.cardBtn:hover {
  background-color: #BE0612;
}

.imgBasket path {
  stroke: #fff;
}