.sectionPopCat {
  margin-top: 45px;
}



  .catList {
    display: flex;
    justify-content: center;
    margin-top: 30px;

  .catItem {
    width: 200px;
  }
  
  .catItem:not(:last-child) {
    margin-right: 20px;
  }

  .catTitle {
    padding-top: 18px;
  }

  .catText {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #000;
    margin: 0;
    text-align: center;
  }

  }

.btnFlex {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}

@media (max-width: 1280px) {
  
}

@media (max-width: 1024px) {
  .catList {
    flex-wrap: wrap;
  }
}



