.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 205px;
}

.footer {
  margin-top: 150px;
  width: 100%;
  background-image: url(../public/image-page-footer/backgroung.webp);
  background-repeat: no-repeat;
  background-size: contain;
  

  &__app_block {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 228px;
  }

  &__app_link {
    display: flex;
    flex-direction: column;
    max-width: 491px;
  }

  &__app_link_text {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #000;
  }

  &__app_link_cards {
    display: flex;
    
  }

  .appStore:not(last-child) {
    margin-right: 18px;
  }

  &__app_img {
    position: absolute;
    bottom: 0;
    left: calc(50% - 50px);
  }

  &__qr_card {
    display: flex;
    align-items: center;
  }

  &_qr_text {
    margin-left: 16px;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    max-width: 211px;
    color: #000;
  }
}

.subscribe {
  background-color: #f1f1f1;
  height: 148px;

  &__container {
    display: flex;
    padding-top: 40px;
    padding-bottom: 60px;
  }

  &__text {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    margin-right: 42px;
    padding-right: 22px;
    max-width: 450px;
  }

  &__social_list_flex {
    display: flex;
  }

  &__social_item {
    margin-right: 16px;
    width: 48px;
    height: 48px;
    background: #ffffff;
    border: 1px solid #e7e7e7;
    border-radius: 100%;
    transition: background-color .3s;
  }

  &__social_item a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
}