.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 205px;
}

.footer {
  margin-top: 150px;
  width: 100%;
  background-image: url(/image-page-footer/backgroung.webp);
  background-repeat: no-repeat;
  background-size: contain;
}

.subscribe {
  background-color: #f1f1f1;
}

.footer__nav {
  background-color: #f9f9f9;
  padding: 60px 0;
}

.footer__nav__flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer__copyright {
  background-color: #f9f9f9;
}
