.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 205px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.firstRow {
  height: 40px;
  background-color: #fafafc;
  padding-bottom: 0;
}

/* Вторая строка */
.secondRow {
  height: 104px;
  background-color: white;
}


/* Третья строка */
.thirdRowLinkFlex {
  position: relative;
  display: flex;
  background-color: white;
}
