.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.allFirstRow {
  height: 40px;
  background-color: #fafafc;
  padding-bottom: 0;
}

.cityText {
  margin-left: 10px;
  font-size: 12px;
  line-height: 20px;
  color: #797979;
}

.navLink {
  margin-right: 48px;
}

.navText {
  font-size: 12px;
  line-height: 20px;
  color: #797979;
}

.navPhone {
  color: #797979;
  font-size: 12px;
  line-height: 20px;
}

/* Вторая строка */


.twoRow {
  height: 104px;
}


.logoLink {
  margin-right: 32px;
}


.twoRowCatalog {
  display: flex;
  background-color: #f1f1f1;
  border-radius: 28px;
}

.twoRowCtlBtn {
  display: flex;
  align-items: center;
  padding: 8px 20px;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
}

.iconRooms {
  margin-right: 12px;
}

.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20px;
  height: 22px;
  padding: 4px 0;
  margin-right: 12px;
}

.line {
  background: #000;
  border-radius: 4px;
  width: 18px;
  height: 2px;
  margin: 0 1px;
}

/* .burger.active::before{
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after{
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}  */


.katalog {
  position: fixed;
  left: 202px;
  top: 170px;
  transition: trasform 0.3s linear;
  background-color: #c0c0c0;
}

.katalog.opened {
  display: block;
  /* transform: translateX(100%); */
  left: 222px;
} 

/* .katalogNav {
  position: fixed;
  top: 170px;
  left: 202px;
  background-color: #fff;

} */


.katalogNavItem {
  margin-top: 10px;
}

.twoRowNav {
  margin-left: 16px;
  margin-right: 52px;
}

.twoRowNavItm {
  padding: 9px 15px;
  font-size: 16px;
  line-height: 24px;

}



.searchContainer {
  width: 100%;
  position: relative;
  vertical-align: middle; 
} 

.search {
  width: 100%;
  height: 40px;
  overflow: hidden;
  border: 1px solid #797979;
  border-radius: 100px;
  padding: 0 76px 0 20px;
}

.searchBtn {
  position: absolute;
  bottom: 5px;
  right: 10px;
  cursor: pointer;
  border: none;
  background-color: transparent;

}

.icon {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  position: relative;
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn:not(:last-child) {
  margin-right: 40px;
}

.iconCount {
  position: absolute;
  right: 1px;
  top: -2px;
  padding: 3px;
  border-radius: 9px;
  color: #fff;
  background-color: #da0916;
  font-size: 10px;
}

.iconEmpty {
  background-color: #c0c0c0;
}




/* Третья строка */

.threeRowLinkFlex {
  display: flex;
}

.threeRowLink {
  
  background-color: #f9f9f9;
  color: #000;
  font-size: 14px;
  line-height: 24px;
  padding: 9px 12px;
  border-radius: 28px;
  align-items: center;
}

.threeRowLink:not(:last-child) {
  margin-right: 12px;
}

.threeRowLink:nth-child(1) {
  color: #b4030e;
}

.threeRowBtn {
  background-color: #f1f1f1;
  min-width: 50px;
  height: 28px;
  margin-left: 12px;
  border-radius: 28px;
  border: none;
  padding-bottom: 5px;
}

.dots {
  font-weight: 800;
}