.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 10.5208vw;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.firstRow {
  height: 40px;
  background-color: #fafafc;
  padding-bottom: 0;
}

/* Вторая строка */
.secondRow {
  height: 104px;
  background-color: white;
}


/* Третья строка */
.thirdRowLinkFlex {
  position: relative;
  display: flex;
  background-color: white;
}


@media (max-width: 1600px) {
  .container {
  padding: 0 1.625vw; }
}

@media (max-width: 1440px) {
  .container {
  padding: 0 5.555vw; }
}

@media (max-width: 1366px) {
  .container {
  padding: 0 3.0746vw; }
}
@media (max-width: 1280px) {
  .container {
  padding: 0 3.9062vw; }
}